body {
margin: 15px;
}
ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}
ul li a:hover {
text-decoration: underline;
}


/* Table Styling */
table {
width: 80%;
margin: auto;
border-collapse: collapse;
background: white;
}
th, td {
padding: 10px;
border: 1px solid #003366;
}
th {
background: #335c85;
color: white;
}


/* Profile Image */
img {
display: block;
margin: auto;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}


/* Responsive Design */
@media screen and (max-width: 600px) {
body {
padding: 10px;
}
ul li {
display: block;
margin: 10px 0;
}
table {
width: 100%;
}
}